/* NAVBAR STYLES */

.custom-navbar {
    background-color: #47494b;
}

nav ul a {
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

nav .brand-logo {
    margin-left: 15px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 20px;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: #223d5f;
}

a:focus, a:hover {
    color: #fff;
    text-decoration: none;
}

.side-nav {
    background-color: #223d5f;
    width: 200px;
}

.side-nav li>a {
    color: #fff;
}

/* HOME PAGE, CAROUSEL AND IMAGES */

.carousel {
    height: 659px;
}

.carousel-text {
    color: #fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.bg-img-one {
    background-image: url("https://bit.ly/2VropjW");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding: 0;
    margin-top: 0;
    width: 100%;
    height: 100%;
}

.bg-img-two {
    background-image: url("https://bit.ly/2GVKKDf");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding: 0;
    margin-top: 0;
    width: 100%;
    height: 100%;
}

/* BUTTON STYLES */

/* Home Page Button */
.bg-img-three {
    background-image: url("https://bit.ly/2F8Ie9V");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding: 0;
    margin-top: 0;
    width: 100%;
    height: 100%;
}

.btn {
    background-color: #f1f2f3;
    color: #223d5f;
}

.btn:hover, .btn-large:hover {
    background-color: #223d5f;
    color: #f1f2f3;
}

/* Add Countries Button */
.btn-countries {
    background-color: #223d5f;
    color: #f1f2f3;
}

.btn-countries:hover, .btn-large:hover {
    background-color: #223d5fc2;
    color: #f1f2f3;
}

/* Delete Buttons */
.btn-delete {
    background-color: #cb1010;
    color: #f1f2f3;
}

.btn-delete:hover {
    background-color: #cb1010ba;
}

/* Edit Buttons */

.btn-edit {
    background-color: #2167ac;
    color: #f1f2f3;
}

.btn-edit:hover {
    background-color: #2167acc9;
}

/* MEDIA QUERIES */

/* Render Logo Header on Nav on smaller screens */
@media (max-width: 768px) {
    nav .brand-logo {
        font-size: 15px;
    }
}