{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Adventures</h1>
    <div class="list-group">
        {% for adventure in adventures  | sort(attribute='start_date') %}
        <div class="col-lg-12 list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h3>{{ adventure.adventure_name }}<h3/>
                <small>{{ adventure.countries | join(', ') }}</small>
            </div>
            <div>
                <p><b>Duration (Days) : </b>{{ adventure.duration }}</p>
                <p><b>Start Date: </b>{{ adventure.start_date }}</p>
                <p><b>Budget: </b>{{ adventure.budget }}</p>
            </div>
            <div>
                <a id="myBtn" class="delete-button waves-effect waves-light btn btn-delete btn_small">Delete</a>
                <a href="{{url_for('edit_adventure', adventure_id=adventure._id)}}" class="waves-effect waves-light btn btn-edit btn_small">Edit</a>
            </div>
            
            <!-- Modal -->
            <div id="myModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <p>Are you sure you want to delete?</p>
                    <a href="{{url_for('delete_adventure', adventure_id=adventure._id)}}" class="delete-button waves-effect waves-light btn btn-delete btn_small">Yes</a>
                </div>
            </div>
            
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <a href="{{url_for('create_adventure')}}" class="waves-effect waves-light btn btn-adventures">
            <i class="material-icons right fas fa-plane-departure"></i>Create Adventure
        </a>
    </div>
</div>
{% endblock %}