{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Countries</h1>   
    <div class="list-group">
    {% for country in countries %}
        <a href="{{url_for('single_country', country_id=country._id)}}" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h3 class="mb-1">{{ country.country_name }}</h3>
            </div>
                <p class="mb-1">{{ country.country_description }}</p>
        </a>
    <hr>
    {% endfor %}
    </div>
    <div class="row">
        <a href="{{url_for('add_country')}}" class="waves-effect waves-light btn btn-countries">
            <i class="material-icons right">playlist_add</i>Add Country
        </a>
    </div>
</div>
{% endblock %}