{% extends 'base.html' %} {% block content %}
<div class="container">
    <h3>Edit Country</h3>
    <div class="row">
        <form action="{{ url_for('update_country', country_id=country._id) }}" method="POST" class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">assignment</i>
                    <input id="country_name" name="country_name" type="text" class="validate" value="{{country.country_name}}">
                    <label for="icon_prefix">Country Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">assignment</i>
                    <input id="country_location" name="country_location" type="text" class="validate" value="{{country.country_location}}">
                    <label for="icon_prefix">Country Location i.e. Europe/Asia</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">assignment</i>
                    <input id="country_currency" name="country_currency" type="text" class="validate" value="{{country.country_currency}}">
                    <label for="icon_prefix">Country Currency</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">assignment</i>
                    <input id="country_risk" name="country_risk" type="text" class="validate" value="{{country.country_risk}}">
                    <label for="icon_prefix">Country Risk (Low, Medium or High)</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">assignment</i>
                    <input id="country_language" name="country_language" type="text" class="validate" value="{{country.country_language}}">
                    <label for="icon_prefix">Country Language</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">subject</i>
                    <textarea type="textarea" name="country_description" id="country_description" class="materialize-textarea">{{country.country_description}}</textarea>
                    <label for="icon_telephone">Give a Brief Description</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">subject</i>
                    <textarea type="textarea" name="reasons_to_go" id="reasons_to_go" class="materialize-textarea">{{country.reasons_to_go}}</textarea>
                    <label for="icon_telephone">Reasons to Go</label>
                </div>
            </div>
            <div class="row">
                <button class="waves-effect waves-light btn btn-countries" type="submit" name="action">Update Country
                    <i class="material-icons right">playlist_add</i>
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock %}