{% extends 'base.html' %}

{% block content %}
<div class="container">
        <h1>Sign In</h1>
        
        <div class="row">
            <form action="{{ url_for('about') }}" method="POST" class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate" maxlength="30" required>
                        <label for="email" class="active">Email Address</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate" required>
                        <label for="password" class="active">Password</label>
                    </div>
                </div>
                <div>
                    <button class="btn waves-effect waves-light btn-login-signup" type="submit" name="action">Sign In</button>
                </div>
                <hr>
                
                <p>Don't have an account? <a href="{{url_for('sign_up')}}">Sign Up</a></p>
                
            </form>
        </div>
    </div>
{% endblock %}