{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Sign Up</h1>
        
        <div class="row">
            <form action="{{ url_for('sign_in') }}" method="POST" class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="username" type="text" class="validate" maxlength="15" minlength="3" required>
                        <label for="username" class="active">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate" maxlength="30" required>
                        <label for="email" class="active">Email Address</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                        <label for="password" class="active">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="confirm-password" type="password" class="validate" required>
                        <label for="confirm-password" class="active">Confirm Password</label>
                    </div>
                </div>
                <div>
                    <button class="btn waves-effect waves-light btn-login-signup" type="submit" name="action">Sign Up</button>
                </div>
                <hr>
            </form>
        </div>
    </div>
    
{% endblock %}